{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block campaignchain_hook_campaignchain_image_widget %}
    {% stylesheets '@campaignchain_hook_image_css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}

    {% set max_number_of_images = form.vars.number_of_images|default(1) %}
        <div class="form-group hook-images-container" style="">
            <div class="col-lg-12 hook-images-row">
                {% for i, img in data %}
                    {% if form.children[i] is defined %}
                    <div class="hook-image">
                        <img src="{{ img.path|imagine_filter("auto_rotate") }}" alt="">
                        <span class="remove-image">X</span>
                        {{ form_widget(form.children[i]) }}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-12">
                <div class="image-upload">
                    <input type="file"
                           {% if max_number_of_images > 1 %}multiple {% endif %}
                           accept=".jpg,.jpeg,.png,.gif,image/jpeg,image/png,image/gif"
                           data-url="{{ oneup_uploader_endpoint('hook_image') }}"
                    >
                </div>
                <span class="help-block"><span id="number_counter">0</span> of {{ max_number_of_images }} images uploaded</span>
            </div>
        </div>
        <script type="application/javascript">
            $(document).ready(function() {

                var hook_settings = {{ {
                    id: form.vars.id,
                    name: form.vars.full_name,
                    counter: form.children|length,
                    originalMaxFiles: max_number_of_images,
                    maxNumberOfFiles: (max_number_of_images - form.children|length)
                }|json_encode|raw }}

                remainingImages(hook_settings.counter, hook_settings.originalMaxFiles);

                $(".hook-images-container").parent().parent().hide();
                $(".hook-images-container").appendTo("#campaignchain-operation-field .panel-body");

                $('.hook-images-row').on('click', '.remove-image', function(e) {
                    if (!$(this).hasClass('remove')) {
                        $(this).addClass('remove');
                        hook_settings.maxNumberOfFiles++;
                    }

                    hook_settings.counter--;

                    remainingImages(hook_settings.counter, hook_settings.originalMaxFiles);

                    $(this).parent().fadeOut('slow', function(){ $(this).remove(); });
                });

                $(".hook-images-container input[type=file]")
                        .fileupload({
                            dataType: 'json',
                            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                            add: function(e, data) {
                                if (hook_settings.maxNumberOfFiles < 1) {
                                    var $errorBox = $("<div>")
                                            .addClass("help-block")
                                            .text("You have reached the maximum number of "+hook_settings.originalMaxFiles+" Image(s)")
                                            .insertAfter($(".image-upload"));

                                    setTimeout(function(){
                                        $errorBox.fadeOut("slow", function(){
                                            $(this).remove();
                                        });
                                    }, 1000);

                                    return false;
                                }
                                hook_settings.maxNumberOfFiles--;
                                data.submit();
                            },
                            done: function(e, data) {
                                var response = data.response();
                                var result = response.result;

                                var imageContainer = $('.hook-images-row');

                                $("<div>")
                                        .addClass("hook-image")
                                        .append($("<img>").attr("src", result.url))
                                        .append($("<span>").addClass("remove-image").text("X"))
                                        .append($("<input>")
                                                .attr("type", "hidden")
                                                .attr("id", hook_settings.id + "_" + hook_settings.counter + "_path")
                                                .attr("name", hook_settings.name + "[" + hook_settings.counter + "][path]")
                                                .attr("value", result.path))
                                        .appendTo(imageContainer);

                                hook_settings.counter++;

                                remainingImages(hook_settings.counter, hook_settings.originalMaxFiles);
                            }
                        });

                function remainingImages(count, max)
                {
                    $('.hook-images-container #number_counter').replaceWith('<span id="number_counter">' + count + '</span>');

                    if(count < hook_settings.originalMaxFiles){
                        // Enable submit button.
                        $(".hook-images-container input[type=file]").prop('disabled', false);
                    } else {
                        // Disable submit button.
                        $(".hook-images-container input[type=file]").prop('disabled', true);
                    }
                }
            });
        </script>

{% endblock %}